:root {
  --color-black: #000;
  --color-white: #fff;
  --color-grey: #bcbcbc;
  --color-grey-light: #e5e5e5;
  --color-grey-dark: #7e8c89;
  --color-button: #191dad;
  --color-button-hover: #262be4;
  --font-main: 'Noto Sans', sans-serif;
  --font-logo: 'Abril Fatface', cursive;
  --font-base-line-height: 1.4;
}
